.footer {
  position: fixed;
  bottom: 0;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  /* width: 100%;
  background-color: #f7ca18; */
  padding: 10px;
  height: 15px;
}

.item {
  margin: 50px;
}
